GATEWAY_PORT_HOST=9031
CONTAINER_PORT=8000

MONGO_URI=mongodb+srv://username:password@host/?appName=Cluster0
DB_MONGO_NAME=dbMongoName

SUPABASE_URI=postgresql://username:password@host:5432/postgres

JWT_SECRET=jwtSecret

USER_ADDRESS=user:8000
ORDER_ADDRESS=order:8000

XENDIT_API_KEY=xenditApiKey:
XENDIT_PAYMENT_SESSION_URL=https://api.xendit.co/sessions

MAILJET_URL=https://api.mailjet.com/v3.1/send
MAILJET_BASIC_AUTH_USERNAME=mailjetUsername
MAILJET_BASIC_AUTH_PASSWORD=mailjetPassword
MAILJET_SENDER=sender@email.com

GRPC_USERNAME=grpcUsername
GRPC_PASSWORD=grpcPassword